/* stylelint-disable at-rule-no-unknown */

blockquote.kg-blockquote-alt {
	@mixin heading-3;

	padding: var(--spacing-2) 0;
	font-weight: var(--font-weight-light);
	font-style: inherit;
	border-left: 0;
}
