.post-content {
	.kg-callout-card {
		padding: var(--spacing-2) var(--spacing-3);
		color: var(--color-contrast);
		border-radius: var(--radius-3);
	}

	.kg-callout-card div.kg-callout-emoji {
		padding-right: 15px;
	}

	.kg-callout-text {
		font-weight: var(--font-weight-medium);
	}

	.kg-callout-card-white {
		box-shadow: inset 0 0 0 1px var(--color-border);
	}

	.kg-callout-card-accent {
		color: var(--color-accent-foreground);
	}
}
