.post-content {
	.kg-gallery-card {
		--gap: 14px;
	}

	.kg-gallery-image img {
		object-fit: cover;
		border-radius: var(--radius-1);
		background-color: var(--color-border);
	}

	.kg-gallery-card:not(.kg-card-hascaption) + .kg-gallery-card,
	.kg-gallery-card:not(.kg-card-hascaption)+.kg-image-card,
	.kg-image-card:not(.kg-card-hascaption)+.kg-gallery-card,
	.kg-image-card:not(.kg-card-hascaption)+.kg-image-card {
		margin-top: calc(var(--spacing-4) * -1 + var(--gap));
	}
}
