.post-content {
	.kg-signup-card {
		border-radius: var(--radius-3);
		overflow: hidden;
	}

	/* Color white has picture. */
	.kg-card:not(.kg-layout-split) > picture + .kg-signup-card-content {
		color: #fff;

		.kg-signup-card-heading {
			color: #fff;
		}
	}

	/* Color grey. */
	.kg-signup-card[style="background-color: rgb(240, 240, 240);"] {
		background-color: var(--color-background-300) !important;

		h2,
		p {
			color: var(--color-contrast) !important;
		}

		.kg-signup-card-button[style="background-color: #000000;color: #FFFFFF;"] {
			--button--background-color: var(--color-contrast);
			--button--color: var(--color-background);
		}

		.kg-signup-card-button[style="background-color: #ffffff;color: #000000;"] {
			--button--background-color: var(--color-background);
			--button--color: var(--color-contrast);
		}
	}

	/* Color accent. */
	.kg-signup-card {
		color: var(--color-accent-foreground);
		background-color: var(--ghost-accent-color);

		.kg-signup-card-heading {
			color: var(--color-accent-foreground);
		}

		.kg-signup-card-input {
			background-color: var(--color-accent-foreground);
		}

		.kg-signup-card-button[style="background-color: #000000;color: #FFFFFF;"] {
			background-color: var(--ghost-accent-color) !important;
			color: var(--color-accent-foreground) !important;
		}

		.kg-signup-card-button[style="background-color: #ffffff;color: #000000;"] {
			background-color: var(--color-accent-foreground) !important;
			color: var(--ghost-accent-color) !important;
		}
	}

	/* Color black. */
	.kg-signup-card[style="background-color: rgb(0, 0, 0);"] {
		color: #b3b3b3;

		.kg-signup-card-heading {
			color: #fff;
		}

		.kg-signup-card-input {
			background-color: #fff;
		}

		.kg-signup-card-button[style="background-color: #000000;color: #FFFFFF;"] {
			background-color: #000 !important;
			color: #fff !important;
		}

		.kg-signup-card-button[style="background-color: #ffffff;color: #000000;"] {
			background-color: #fff !important;
			color: #000 !important;
		}
	}

	/* Button. */
	.kg-signup-card-button.kg-style-accent {
		color: var(--color-accent-foreground) !important;
	}

	/* Heading. */
	.kg-card.kg-signup-card > .kg-signup-card-content > .kg-signup-card-text > .kg-signup-card-heading {
		@mixin heading-1;
	}

	/* Subheading. */
	.kg-card.kg-signup-card > .kg-signup-card-content > .kg-signup-card-text > .kg-signup-card-subheading {
		max-width: 100%;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;

		&:not(:first-child) {
			margin-top: var(--spacing-1);
		}
	}

	/* Disclaimer. */
	.kg-signup-card-disclaimer {
		margin-top: var(--spacing-1);
	}

	/* Form. */
	.kg-signup-card-form {
		padding: 0;
	}
	.kg-signup-card-form:not(:first-child) {
		margin-top: var(--spacing-5) !important;
	}

	.kg-signup-card-fields {
		position: relative;
		justify-content: flex-end;
		padding: 3px;
		background-color: transparent;
		border: 0;
		border-radius: 0;
	}

	.kg-signup-card-input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		font-size: 0.875rem;
		border-radius: var(--radius-2);
		background-color: var(--color-background);
	}

	.kg-signup-card-button {
		height: auto;
	}

	/* Content text. */
	.kg-signup-card .kg-signup-card-text {
		padding: 0;
	}
}
