.post-content {
	.kg-video-card video,
	.kg-video-overlay,
	.kg-video-player-container {
		border-radius: 0;
		overflow: hidden;
	}

	.kg-video-hide-animated > button {
		visibility: hidden;
	}

	.kg-video-large-play-icon {
		width: 60px;
		height: 60px;

		svg {
			width: 1em;
		}
	}
}

.kg-video-card video {
	background-color: var(--color-border);
}
