@custom-media --breakpoint-2xl (max-width: 1399px);
@custom-media --breakpoint-xl (max-width: 1299px);
@custom-media --breakpoint-lg (max-width: 1199px);
@custom-media --breakpoint-md (max-width: 950px);
@custom-media --breakpoint-sm (max-width: 720px);
@custom-media --breakpoint-xs (max-width: 479px);
