/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable function-no-unknown */

/* Variables
/* ---------------------------------------------------------- */

:root {
	/* Colors. */
	--color-contrast: #000;
	--color-background: #fff;
	--color-background-100: #fcfcfc;
	--color-background-200: #f8f8f8;
	--color-background-300: rgb(128 128 128 / 15%);
	--color-background-400: rgb(128 128 128 / 20%);
	--color-foreground: #595959;
	--color-secondary: #808080;
	--color-mute: #b3b3b3;
	--color-border: rgb(128 128 128 / 25%);

	/* Gradient. */
	--gradient: linear-gradient(90deg, #618fe8, #d75ec4);

	/* Font. */
	--font-family-headings: var(--gh-font-heading, 'Geist', sans-serif);
	--font-family-body: var(--gh-font-body, 'Geist', sans-serif);
	--font-family-button: var(--gh-font-body, 'Geist', sans-serif);
	--font-small: 0.875rem;
	--font-x-small: 0.75rem;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Spacings. */
	--spacing-1: fluid(10px, 15px, 320px, 1600px);
	--spacing-2: fluid(15px, 20px, 320px, 1600px);
	--spacing-3: fluid(20px, 25px, 320px, 1600px);
	--spacing-4: fluid(25px, 30px, 320px, 1600px);
	--spacing-5: fluid(30px, 40px, 320px, 1600px);
	--spacing-6: fluid(45px, 60px, 320px, 1600px);
	--spacing-7: fluid(60px, 80px, 320px, 1600px);

	/* Border radius. */
	--radius-1: 6px;
	--radius-2: 8px;
	--radius-3: fluid(8px, 10px, 320px, 1600px);

	/* Content. */
	--padding-v: 20px;
	--padding-h: 14px;

	/* Sidebar. */
	--sidebar--width: clamp(237px, 16.5%, 320px);
	--sidebar-header--min-height: 57px;
	--sidebar-posts--width: clamp(321px, 22.5%, 400px);

	/* Navigation mobile. */
	--nav-mobile--min-height: 47px;

	/* Button. */
	--button--padding-top: 6.5px;
	--button--padding-right: 22px;
	--button--padding-bottom: 6.5px;
	--button--padding-left: 22px;
	--button--min-height: 2.125rem;
	--button--font-size: var(--font-small);
	--button--font-weight: var(--font-weight-medium);
	--button--line-height: 1.5;
	--button--border-radius: var(--radius-1);
	--button--color: var(--color-accent-foreground);
	--button--background-color: var(--ghost-accent-color);
	--button--transition: clip-path 0.2s ease, background-color 0.1s ease,
		border-color 0.1s ease, color 0.1s ease, opacity 0.1s ease;
	--button-hover--color: var(--color-accent-foreground);
	--button-hover--background-color: var(--ghost-accent-color);

	/* Container. */
	--container--width: 580px;
	--container-wide--width: 780px;

	/* Popup. */
	--popup--overlay--background-color: #e8e8e8;

	/* Placeholder. */
	--placeholder--padding: var(--spacing-2);
	--placeholder--background-color: color-mix(in srgb, var(--color-contrast), var(--color-background) 94%);

	color-scheme: light;
}

@media (--breakpoint-2xl) {
	:root {
		--container-wide--width: 680px;
	}
}

@media (--breakpoint-xl) {
	:root {
		--container-wide--width: 580px;
	}
}

@media (--breakpoint-lg) {
	:root {
		--container-wide--width: 680px;
	}
}

@media (--breakpoint-sm) {
	:root {
		--container--width: 480px;
		--container-wide--width: 580px;
	}
}

/* prettier-ignore */
@mixin color-scheme-dark :root {
	& {
		--ghost-accent-color: var(--color-dark-accent);
		--color-accent-foreground: var(--color-dark-accent-foreground, #fff);
		--color-contrast: #fff;
		--color-background: #0F0F0F;
		--color-background-100: #141414;
		--color-background-200: #1A1A1A;
		--color-background-300: rgb(128 128 128 / 20%);
		--color-background-400: rgb(128 128 128 / 30%);
		--color-border: rgb(128 128 128 / 40%);
		--color-foreground: #b3b3b3;
		--color-secondary: #808080;
		--color-mute: #4d4d4d;
		--popup--overlay--background-color: #212121;

		color-scheme: dark;
	}
}
