.dropdown {
	top: 100%;
	right: -1px;
	width: max-content;
	min-width: 140px;
	max-width: 200px;
	padding: 3px;
	margin-top: var(--padding-v);
	background-color: var(--color-background-200);
	background-clip: padding-box;
	border: 1px solid var(--color-border);
	border-radius: 9px;
	transition:
		visibility 0.1s ease,
		opacity 0.1s ease;
	z-index: 3;

	/* Zone hover. */
	&::before {
		content: '';
		position: absolute;
		top: calc(var(--padding-v) * -1);
		right: 0;
		left: 0;
		height: var(--padding-v);
	}
}

/* Dropdown share. */
.button-share .dropdown {
	min-width: 190px;
}
