:where(.navigation-tags) {
	> ul {
		flex-direction: column;
	}

	.nav-link {
		align-items: flex-start;

		/* Accent color. */
		&[style] {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 4.5px;
				left: 6.5px;
				width: calc(1rem + 5px);
				height: calc(1rem + 5px);
				border: 1.5px solid var(--tag--color);
				border-radius: 50%;
			}
		}
	}

	.nav-link-current[style] {
		color: #fff;
		background-color: var(--tag--color);
	}

	.nav-link-image {
		width: 1rem;
		height: 1rem;
		background-color: currentcolor;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@mixin color-scheme-dark {
		.nav-link-image {
			background-color: var(--color-background-400);
		}
	}
}
