.navigation-mobile {
	--nav--link--padding-v: 9px;
	--nav--link--padding-h: 16px;
	--nav--link--border-radius: 2em;

	position: fixed;
	display: none;
	bottom: 0;
	width: 100%;
	padding: 5px var(--padding-h);
	min-height: var(--nav-mobile--min-height);
	border-top: 1px solid var(--color-border);
	backdrop-filter: blur(10px);
	z-index: 9998;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: var(--color-background);
		opacity: 0.9;
		z-index: -1;
	}

	svg {
		width: 1.125rem;
		height: 1.125rem;
	}

	> ul {
		flex-direction: row;
		justify-content: space-around;
		gap: 0 5px;

		> li {
			position: relative;
			display: flex;
			justify-content: center;
			flex: 1 1 max-content;
			max-width: 100%;
			min-width: calc(1.125rem + var(--nav--link--padding-h) * 2);
		}
	}

	.nav-link {
		justify-content: center;
		word-break: initial;
		width: auto;
		max-width: 100%;

		/* Hover zone. */
		&::before {
			content: "";
			position: absolute;
			inset: 0 -2.5px;
		}

		.label {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 100%;
		}
	}

	/* Hide more items. */
	.nav-mobile-item:nth-child(n + 7) {
		display: none;
	}

	/* Current. */
	.nav-link-current,
	.nav-link-current:hover {
		color: var(--color-contrast);
		background-color: var(--color-background-300);
	}

	@media (--breakpoint-md) {
		& {
			display: block;
		}
	}

	@media (--breakpoint-sm) {
		.nav-mobile-item:nth-child(n + 5) {
			display: none;
		}
	}

	@media (--breakpoint-xs) {
		& {
			--nav--link--padding-h: 9px;

			padding: 5px;
			width: 100%;

			.nav-link > span {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip-path: inset(50%);
				word-wrap: normal;
				border: 0;
			}
		}

		.nav-mobile-item:nth-child(7),
		.nav-mobile-item:nth-child(6) {
			display: flex;
		}
	}
}

@media (--breakpoint-md) {
	body:has(.navigation-mobile) {
		padding-bottom: var(--nav-mobile--min-height);
	}

	.navigation-mobile {
		display: block;
	}
}
