/* stylelint-disable at-rule-no-unknown */

:where(.navigation) {
	--nav--link--padding-v: 7px;
	--nav--link--padding-h: 9px;
	--nav--link--color: var(--color-contrast);
	--nav--link--background-color: transparent;
	--nav--link--border-radius: var(--radius-1);
	--nav--link-hover--color: var(--color-contrast);
	--nav--link-hover--background-color: var(--color-background-300);

	position: relative;
	font-size: var(--font-small);
	font-weight: var(--font-weight-medium);
	line-height: 1.214;

	ul {
		display: flex;
		gap: 2px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.social-link,
	.nav-link {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 10px;
		padding: var(--nav--link--padding-v) var(--nav--link--padding-h);
		color: var(--nav--link--color);
		border: 0;
		text-decoration: none;
		background-color: var(--nav--link--background-color);
		background-clip: padding-box;
		border-radius: var(--nav--link--border-radius);
		transition:
			color 0.1s ease,
			background-color 0.1s ease;

		> svg {
			flex: 0 0 auto;
			width: 1rem;
			height: 1rem;
		}

		/* Label. */
		> span {
			flex-basis: 0;
			flex-grow: 1;
		}
	}

	button.nav-link {
		cursor: pointer;
		text-align: left;
	}

	/* Hover. */
	.social-link:hover,
	.nav-link:hover,
	:where(.nav-item:hover) > .nav-link,
	.collapse-toggle[aria-expanded='true'] {
		color: var(--nav--link-hover--color);
		background-color: var(--nav--link-hover--background-color);
	}
}

/* Current link. */
:where(.navigation-sidebar, .navigation-secondary, .navigation-tags) {
	.nav-link-current:not(.nav-section-link),
	.nav-item:has(.collapse .nav-link-current) > [aria-expanded='false'] {
		color: var(--color-accent-foreground);
		background-color: var(--ghost-accent-color);
		outline-offset: 2px;
	}

	@mixin color-scheme-dark {
		.nav-link-current:not(.nav-section-link),
		.nav-item:has(.collapse .nav-link-current) > [aria-expanded='false'] {
			color: var(--color-contrast);
			background-color: var(--color-background-400);
		}
	}
}

/* Dropdown and Collapse */
:where(.navigation .dropdown, .navigation .collapse) > ul {
	flex-direction: column;
}

/* Section. */
:where(.navigation-tags, .navigation-socials) > .nav-section {
	padding: 0.375rem var(--nav--link--padding-h);
	margin-bottom: 2px;
	color: var(--color-foreground);
	font-size: var(--font-x-small);
	font-weight: var(--font-weight-bold);
}

/* Hide navigation socials when empty. */
:where(.navigation-socials):not(:has(.social-links > li)) {
	display: none;
}
