.social-links {
	padding-left: 0;
}

:where(.social-links) {
	--social--gap-v: 2px;
	--social--gap-h: 2px;
	--social--link--padding-v: 7.5px;
	--social--link--padding-h: 7.5px;
	--social--link--border-radius: 50%;

	display: flex;
	gap: var(--social--gap-v) var(--social--gap-h);
	margin: 0;
	list-style: none;

	&:not(:has(li)) {
		display: none;
	}

	.social-link {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: var(--social--link--padding-v) var(--social--link--padding-h);
		border-radius: var(--social--link--border-radius);
		transition: background-color 0.1s ease;

		> svg {
			flex: 0 0 auto;
			height: 1rem;
			width: 1rem;
		}

		&:hover,
		&:focus-visible {
			color: var(--color-contrast);
			background-color: var(--color-background-300);
		}
	}
}

/* For sidebar and popup. */
:where(.sidebar .social-links, .popup-navigation .social-links) {
	--social--link--padding-v: 7px;
	--social--link--padding-h: 9px;
	--social--link--border-radius: var(--radius-1);

	flex-direction: column;

	/* Icon arrow up right. */
	.social-link::after {
		content: '';
		width: 1.143em;
		height: 1.143em;
		background-color: currentcolor;
		mask-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M7 7h10v10'/><path d='M7 17 17 7'/></svg>");
		mask-size: 100% 100%;
	}
}

/* Footer and Hero. */
:where(.footer .social-links, .section-hero .social-links) {
	flex-wrap: wrap;
	margin: calc(var(--social--link--padding-v) * -1)
		calc(var(--social--link--padding-h) * -1);

	/* Hide label. */
	.social-link > span {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip-path: inset(50%);
		word-wrap: normal;
	}
}

/* For hero. */
:where(.section-hero .social-links) {
	margin-top: calc(var(--social--link--padding-v) * -1 + 0.25rem);
}

/* For footer. */
:where(.footer .social-links) {
	flex: 0 0 auto;
}
