/* stylelint-disable at-rule-no-unknown */

.tooltip {
	position: absolute;
	top: 100%;
	left: -4px;
	padding: 0.2rem 0.4rem;
	margin-top: 7px;
	font-size: var(--font-x-small);
	font-weight: var(--font-weight-medium);
	white-space: nowrap;
	text-transform: capitalize;
	color: var(--color-background);
	background-color: var(--color-contrast);
	border-radius: var(--radius-1);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.15s ease;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		bottom: 100%;
		width: 0;
		height: 0;
		border-bottom: 4px solid var(--color-contrast);
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}
}

:hover > .tooltip {
	opacity: 1;
	transition-delay: 0.3s;
}
