{{!-- Limit navigation without separator and categories. --}}
{{#foreach navigation}}
	{{#match label '!=' '---'}}
		{{#match (concat label.[0] label.[1]) "!=" '- '}}
			{{#match (concat label.[0] label.[1]) "!=" '# '}}
				<li class="nav-mobile-item">{{> "navigation/link" nav=../this item=this}}</li>
			{{/match}}
		{{/match}}
	{{/match}}
{{/foreach}}