{{#if @site.secondary_navigation}}
<nav class="navigation navigation-secondary" aria-label="{{t "Secondary Navigation"}}">
	<button class="button button-minimal dropdown-toggle" aria-expanded="false">
		{{> "icons/more-vertical"}}
	</button>
	<div class="dropdown">
		{{navigation type="secondary" collapse=true custom_navigation=false show_icon=false}}
	</div>
</nav>
{{/if}}
