.section-title {
	margin-bottom: var(--spacing-2);
}

.section-list {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 14px;

	> .card {
		flex-basis: 0;
		flex-grow: 1;
		min-width: 40%;
		padding: 16px 20px;
		outline: 1px solid var(--color-border);
		outline-offset: -1px;
		border-radius: var(--radius-3);

		> .card-link {
			outline-offset: 2px;
		}

		&:hover {
			background-color: var(--color-background-200);
		}
	}

	> .card-author.card-has-image {
		padding-left: 16px;
	}

	> .card-post.card-has-image {
		flex: 0 0 100%;
		width: 100%;
		aspect-ratio: 16/9;
		padding-bottom: 18px;

		.card-title {
			margin-top: 0;
			font-size: 1.25rem;
			line-height: 1.3;
		}

		.card-content {
			justify-content: flex-end;
		}

		.card-footer {
			margin-top: 0;
		}
	}
}

/* Style pagination for content. */
.content .pagination-next,
.content .pagination-prev {
	display: flex;
	align-items: center;
	gap: var(--spacing-2);

	&::before,
	&::after {
		content: '';
		flex: 1 0 0%;
		border-top: 1px solid var(--color-border);
	}

	> .button {
		--button--border-radius: 2rem;
		--button--color: var(--color-contrast);
		--button--background-color: transparent;

		flex: 0 0 auto;
		border: 1px solid var(--color-border);

		&.complete {
			--button-hover--color: var(--color-contrast);
			--button-hover--background-color: transparent;

			border: 0;
		}
	}
}

.content .pagination-next {
	margin-top: var(--spacing-4);
}

.content .pagination-prev {
	margin-bottom: var(--spacing-4);
}

/* Style pagination for sidebar. */
.sidebar-posts .pagination-next,
.sidebar-posts .pagination-prev,
.popup-content-posts .pagination-next,
.popup-content-posts .pagination-prev {
	width: 100%;

	> .button {
		width: 100%;

		&.complete {
			--button--background-color: transparent;
			--button-hover--background-color: transparent;
		}
	}
}

/* Hide empty pagination prev. */
.pagination-prev:empty {
	display: none;
}

@media (--breakpoint-sm) {
	.section-list > .card {
		flex: 0 0 100%;
		width: 100%;
	}
}
