.header {
	position: relative;
	display: flex;
	align-items: center;

	/* For vertical align when using --header--height. */
	align-content: center;
	flex-wrap: wrap;
	height: var(--header--height, var(--sidebar-header--height));
	min-height: var(--header--min-height, var(--sidebar-header--min-height));
	gap: 10px 2px;
	top: 0;
	left: 0;
	padding: var(--padding-v) calc(var(--padding-h) * 2);
	margin: 0 calc(var(--padding-h) * -1)
		calc(var(--spacing-7) * -1 + var(--spacing-4));
	background-color: var(--color-background);
	z-index: 9999;

	> .button {
		display: none;
	}

	> .logo {
		display: none;
	}

	> .breadcrumbs {
		flex-basis: 0;
		flex-grow: 1;
	}
}

.header-buttons {
	justify-content: flex-end;
	display: flex;
	gap: 2px;
	margin-right: -7.5px;
	margin-left: auto;

	> div,
	> button {
		flex: 0 0 auto;
	}

	> .navigation-secondary {
		display: none;
	}
}

@media (--breakpoint-lg) {
	.header > .button {
		display: block;
		margin-left: -7.5px;
	}

	.header > .breadcrumbs {
		display: flex;
		justify-content: center;
	}
}

@media (--breakpoint-md) {
	.header {
		padding-right: var(--padding-h);
		padding-left: var(--padding-h);

		> .logo {
			display: block;
		}
	}

	.header-buttons > .navigation-secondary {
		display: block;
	}
}

@media (--breakpoint-xs) {
	.header > .breadcrumbs {
		display: none;
	}
}
