.scroll-progress-wrapper {
	position: sticky;
	align-self: flex-end;
	bottom: calc(var(--padding-h) * 2);
	right: calc(var(--padding-h) * 2);
	margin-bottom: calc(var(--spacing-7) * -1 + var(--padding-h) * 2);
	z-index: 3;
}

.scroll-progress {
	color: var(--color-contrast);
	backdrop-filter: blur(5px);
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	transition:
		opacity 0.2s ease,
		visibility 0.2s ease;

	circle {
		stroke-dasharray: 300%;
		stroke-dashoffset: calc(300% + var(--scroll-progress) * 3);
		stroke-linecap: round;
		stroke-width: 1.5px;
		transform: rotate(-90deg) translateX(-100%);
		r: calc(30px * 0.5 - 0.75px);
	}

	> svg {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		pointer-events: none;
		z-index: 1;
		opacity: 1;
		transform: scaleX(-1);
		transition: opacity 0.2s ease;
	}
}

.scroll-progress-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background-color: transparent;
	border-radius: 50%;
	border: 1.5px solid var(--color-border);
	outline-offset: 3px;
	transition:
		color 0.1s ease,
		background-color 0.1s ease,
		transform 0.2s ease;

	&:hover,
	&:focus {
		color: var(--color-background);
		background-color: var(--color-contrast);

		+ svg {
			opacity: 0;
		}
	}
}

.scroll-progress-show {
	visibility: visible;
	opacity: 1;
}

@media (--breakpoint-md) {
	.scroll-progress-wrapper {
		bottom: calc(var(--nav-mobile--min-height) + var(--padding-h));
		right: var(--padding-h);
	}
}
