/* stylelint-disable at-rule-no-unknown */

/* About. */
.template-about .section-hero-content > p {
	order: -1;
	font-weight: var(--font-weight-regular);
}

/* Author. */
.author-template {
	.section-hero-content > p {
		order: -1;
		font-size: var(--font-small);
		font-weight: var(--font-weight-medium);
		color: var(--color-secondary);
	}

	.post-excerpt {
		margin-top: calc(var(--spacing-5) * -1);
	}
}

/* Blog and Blog empty. */
.template-blog .template-blog-posts,
.template-blog-empty .template-blog-posts {
	display: none;
}

.template-blog-empty .template-blog-posts .card {
	min-width: 100%;
}

@media (--breakpoint-lg) {
	.template-blog .template-blog-posts,
	.template-blog-empty .template-blog-posts {
		display: block;
	}
}

/* Narrow. */
.template-narrow .post-content {
	--container--width: 440px;
}

/* Narrow post. */
.post-template.template-narrow {
	--container--width: 440px;
	--container-wide--width: 580px;
}

/* Tag. */
.tag-template .section-hero-content > p {
	order: -1;
	font-size: var(--font-small);
	font-weight: var(--font-weight-medium);
	color: var(--color-secondary);
}
