<div class="button-share navigation">
	<button class="button button-minimal dropdown-toggle" aria-expanded="false" aria-label="{{t 'Share this post'}}">
		{{> "icons/share"}}
	</button>
	<div class="dropdown">
		<ul>{{> "post/social-share"}}</ul>
	</div>
</div>