<div class="post-head-sticky">
	{{#if featured}}{{> "icons/flame"}}{{/if}}
	{{#has tag="#video"}}{{> "icons/video"}}{{/has}}
	{{#unless access}}{{> "icons/lock"}}{{/unless}}
	<span>{{title}}</span>
</div>