<section class="oa-section">
  <div class="oa-section-inner">
    {{#if heading}}
      <h2 class="oa-section-heading">{{heading}}</h2>
    {{/if}}

    <div class="oa-section-body">
      {{{content}}}
    </div>
  </div>
</section>
