<nav class="oa-subnav oa-subnav-initiate">
  <ul>
    <li><a href="/initiate/the-vision">1. The Vision</a></li>
    <li><a href="/initiate/the-spiral">2. The Spiral</a></li>
    <li><a href="/initiate/the-ladder">3. The Ladder</a></li>
    <li><a href="/initiate/the-identity-of-light">4. The Identity of Light</a></li>
    <li><a href="/initiate/the-living-breath">5. The Living Breath</a></li>
  </ul>
</nav>
